# App
BASE_URL=/mindarena_forum

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mindarena_forum
DB_USER=root
DB_PASS=

# AI
AI_PROVIDER=huggingface
HF_TOKEN=your_huggingface_token
HF_MODEL=deepseek-ai/DeepSeek-R1:fastest
