<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Reset Password</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='assets/css/reset_password.css'>
</head>
<body>
  <div class="page">
    <div class="form forgot">
      <form action="reset_password.php" method="POST">
        <h2>Reset Password</h2>

        <!-- Get token from URL and pass it as a hidden input -->
        <input type="hidden" name="token" id="token">
        
        <div class="input">
          <input type="password" required name="newmdp" id="newmdp">
          <label for="newmdp">New Password</label>
        </div>

        <button type="submit" class="btnn">Reset</button>

        <div class="login">
          <a href="login.html">Log In</a>
        </div>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="assets/js/reset_password.js"></script>
</body>
</html>
