@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#c35cff,#000000);
    overflow: hidden;
}

.page{
    position: relative;
    width:400px;
    height: 500px;
}

.form{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0,0, 0, .2);
}

.page.anim-log .form.login{
    animation: animateSignIn 1.5s ease-in-out forwards;
}


@keyframes animateSignIn{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0) rotate(7deg);
    }
}



.page .form.signup{
    transform: rotate(7deg);
}


.page.anim-log .form.signup{
    animation: animrotaion .7s ease-in-out forwards;
    animation-delay: .3s;
}

@keyframes animrotaion{
    0%{
        transform: rotate(7deg);
    }

    100%{
        transform: rotate(0);
        z-index: 1;
    }
}



.page.anim-signup .form.signUp{
    transform: rotate(7deg);
    animation: animrotaion .7s ease-in-out forwards;
    animation-delay: .3s;
}

.page.anim-up .form.signup{
    animation: animateSignup 1.5s ease-in-out forwards;
}


@keyframes animateSignup{
    0%{
        transform: translateX(0);
        z-index: 1;
    }
    50%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0) rotate(7deg);
    }
}

h2{
    font-size: 30px;
    color: #555;
    text-align: center;
}

.input{
    position: relative;
    width: 320px;
    margin: 30px 0;
}

.form label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 15px;
    color:  #333;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.form input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #333;
    padding: 0 10px;
    background: white;
    border: 2px solid #333;
    outline: none;
    border-radius: 5px;
}

.form input:focus {
    border-color: purple;
}
.form input:focus~label,
.form input:valid~label{
    top:0;
    font-size: 12px;
    background:white;
}

.mdpoub{
    margin: -15px 0 15px;
}

.mdpoub a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.mdpoub a:hover{
    text-decoration: underline;
}

.btnn{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to right,#c35cff,#000000);
    box-shadow: 0 2px 10px rgba(0,0,0,.4);
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    cursor:crosshair;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btnn:hover{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to left,#c35cff,#000000);
    box-shadow: 0 2px 10px rgba(0,0,0,.4);
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    cursor:crosshair;
    border-radius: 5px;
    border: none;
    outline: none;
}


.sign{
    font-size: 14px;
    text-align: center;
    margin: 25px 0;
}

.sign p{
    color: #333;
}

.sign p a{
    color: #c35cff;
    text-decoration: none;
    font-weight: 600;
}

.sign p a:hover{
    text-decoration: underline;
}
