@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#c35cff,#000000);
    color: #fff;
}

/* SIDEBAR */
.sidebar{
    width: 250px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgba(255,255,255,0.2);
}

.logo{
    font-size: 28px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li{
    margin: 10px 0;
    border-radius: 8px;
    transition: 0.4s;
    cursor: pointer;
    padding: 15px 10px; /* size of the effect */
}

.menu li:hover,
.menu li.active{
    background: rgba(195,92,255,0.3);
    transform: translateX(5px);
}

/* Links */
.menu li a {
    color: white !important;
    text-decoration: none !important;
    display: block;
    width: 100%;
}


/* LOGOUT BUTTON */
.logout-btn {
    margin-top: auto;
    width: 100%;
    padding: 12px;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #c35cff, #000000);
    color: #fff;
    font-weight: 600;
    border-radius: 6px;
    transition: .4s;
    text-decoration: none; /* This removes the underline */
}

.logout-btn:hover {
    background: linear-gradient(to left, #c35cff, #000000);
}
.logout-btn a {
    color: white !important;
    text-decoration: none !important;  /* Remove underline */
    display: block;                    /* Ensure it takes up full width of .logout-btn */
}

/* MAIN CONTENT */
.content{
    flex: 1;
    padding: 40px;
}

/* HEADER */
.header h1{
    font-size: 35px;
    margin-bottom: 5px;
}

.header p{
    font-size: 16px;
    opacity: 0.8;
}

/* DASHBOARD CARDS */
.cards{
    display: flex;
    gap: 20px;
    margin: 40px 0;
}

.card{
    background: rgba(255,255,255,0.1);
    padding: 25px;
    border-radius: 15px;
    flex: 1;
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    transition: .3s;
}

.card:hover{
    transform: translateY(-5px);
    background: rgba(195,92,255,0.2);
}

.card h3{
    font-size: 18px;
    margin-bottom: 10px;
}

.number{
    font-size: 32px;
    font-weight: bold;
}

/* PANEL */
.panel{
    margin-top: 30px;
    background: rgba(255,255,255,0.1);
    padding: 25px;
    border-radius: 15px;
    border: 2px solid rgba(255,255,255,0.2);
}

.panel h2{
    margin-bottom: 15px;
}

.panel ul{
    list-style: none;
    line-height: 28px;
}

.panel ul li{
    opacity: 0.9;
}
